* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --grid-gap: 30px;
}

.container{
	display: grid;
	height: 100vh;
	grid-template-rows: 150px auto 50px;
	grid-gap: var(--grid-gap);
	background-color: red;
}