<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<title>Category</title>
<!-- 	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" href="./style.css"> -->
</head>

<body>
	<a href="http://localhost:8080/categories">Home</a>
	<!-- <h1 th:text="${category.name}"></h1> -->
	<article th:each="review : ${category.reviews}">
		<div class="body">
			<h2 th:text="${review.title}"></h2>
		</div>
		<img th:src="${review.imageUrl}" height="400"
			alt="photo not displayed" />
		<p th:text="${review.content}"></p>
		<div th:each="tag: ${review.tags}">
			Tagged: <a th:text="${tag.description}">, </a>
		</div>

		<section th:each="comment: ${review.comments}">
			<p th:text="${comment.content}"></p>
		</section>

		<form method="post">
			<div>
				<label>Leave Comment:</label> <input type="text" name="content"></input>
				<div class="add-comment-reviewId">
					<input type="hidden" th:value="${review.id}" name="stringId"/>
				</div>

				<button type="submit" th:formaction="@{/add-comment}">Submit
					Comment</button>
			</div>
		</form>
	</article>
	<a href="http://localhost:8080/categories">Home</a>
</body>
</html>